.images .box1{
    position: absolute;
    top: 100px;
    right: 40px;
    background: url(images/img1.jpg) no-repeat 50% 50%;
    background-size: cover;
    width: 350px;
    border: .5px solid gray;
    height: 300px;
}
.images .box2{
    position: absolute;
    top: 150px;
    right: 420px;
    background: url(images/img4.jpg) no-repeat 50% 50%;
    background-size: cover;
    width: 400px;
    border: .5px solid gray;
    height: 450px;
}
.images .box3{
    position: absolute;
    top: 420px;
    right: 40px;
    background: url(images/img5.jpg) no-repeat 50% 50%;
    background-size: cover;
    width: 350px;
    border: .5px solid gray;
    height: 300px;
}